body{
    display: block;
    overflow-y: scroll;
}

/* main wrapper for the accordian */

.accordian-wrapper{
    border: 5px solid white;
    width: 70vw;
    margin: 50px auto;
}

.accordian{
    padding: 5px 15px;
    font-weight: 700;
    cursor: pointer;
}
.accordian p{
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
    display: none;
}